openapi: 3.0.2
info:
  title: fing
  description: >
    Rest interface to generative art image generator
  version: 0.1.0
  contact:
    name: dkackman
    url: https://github.com/dkackman/fing
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://fing.kackman.net/
  - url: https://localhost:9147/
security:
  - ApiKeyAuth: []
tags:
  - name: Generator
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
paths:
  /info:
    get:
      tags:
        - Generator
      security:
        - ApiKeyAuth: []
      description: Gets information about the generator
      operationId: info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  torch_version:
                    type: string
  /txt2img:
    get:
      tags:
        - Generator
      security:
        - ApiKeyAuth: []
      description: Generates an image from a textual prompt
      operationId: txt2img
      parameters:
        - in: query
          name: prompt
          schema:
            type: string
          required: true
        - in: query
          name: num_images
          schema:
            type: integer
            minimum: 1
            maximum: 4
            default: 1
          required: false
          description: The numbers of imges to generate
        - in: query
          name: guidance_scale
          schema:
            type: number
            minimum: 0
            default: 7.5
          required: false
          description: The model guidance scale
        - in: query
          name: num_inference_steps
          schema:
            type: integer
            minimum: 1
            maximum: 75
            default: 50
          required: false
          description: The number of model inference steps
        - in: query
          name: height
          schema:
            type: integer
            default: 512
          required: false
          description: The image height
        - in: query
          name: width
          schema:
            type: integer
            default: 512
          required: false
          description: The image width
      responses:
        "200":
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
