openapi: 3.0.2
info:
  title: fing
  description: >
    Rest interface to generative art image generator
  version: 0.1.0
  contact:
    name: dkackman
    url: https://github.com/dkackman/fing
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://fing.kackman.net/
  - url: https://localhost:9147/
security:
  - ApiKeyAuth: []
tags:
  - name: Generator
components:
  schemas:
    software_info:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        torch_version:
          type: string
    model_config:
      type: object
      properties:
        _class_name:
          type: string
        _diffusers_version:
          type: string
        feature_extractor:
          type: array
          items:
            type: string
        safety_checker:
          type: array
          items:
            type: string
        scheduler:
          type: array
          items:
            type: string
        text_encoder:
          type: array
          items:
            type: string
        tokenizer:
          type: array
          items:
            type: string
        unet:
          type: array
          items:
            type: string
        vae:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
paths:
  /info:
    get:
      tags:
        - Generator
      security:
        - ApiKeyAuth: []
      description: Gets information about the generator
      operationId: info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    $ref: "#/components/schemas/model_config"
                  software:
                    $ref: "#/components/schemas/software_info"
  /txt2img:
    get:
      tags:
        - Generator
      security:
        - ApiKeyAuth: []
      description: Generates an image from a textual prompt
      operationId: txt2img
      parameters:
        - in: query
          name: prompt
          schema:
            type: string
          required: true
        - in: query
          name: num_images
          schema:
            type: integer
            minimum: 1
            maximum: 4
            default: 1
          required: false
          description: The numbers of imges to generate
        - in: query
          name: guidance_scale
          schema:
            type: number
            minimum: 0
            default: 7.5
          required: false
          description: The model guidance scale
        - in: query
          name: num_inference_steps
          schema:
            type: integer
            minimum: 1
            maximum: 75
            default: 50
          required: false
          description: The number of model inference steps
        - in: query
          name: height
          schema:
            type: integer
            default: 512
          required: false
          description: The image height
        - in: query
          name: width
          schema:
            type: integer
            default: 512
          required: false
          description: The image width
      responses:
        "200":
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
  /txt2img_metadata:
    get:
      tags:
        - Generator
      security:
        - ApiKeyAuth: []
      description: Generates an image from a textual prompt, including metadata
      operationId: txt2img_metadata
      parameters:
        - in: query
          name: prompt
          schema:
            type: string
          required: true
        - in: query
          name: num_images
          schema:
            type: integer
            minimum: 1
            maximum: 4
            default: 1
          required: false
          description: The numbers of imges to generate
        - in: query
          name: guidance_scale
          schema:
            type: number
            minimum: 0
            default: 7.5
          required: false
          description: The model guidance scale
        - in: query
          name: num_inference_steps
          schema:
            type: integer
            minimum: 1
            maximum: 75
            default: 50
          required: false
          description: The number of model inference steps
        - in: query
          name: height
          schema:
            type: integer
            default: 512
          required: false
          description: The image height
        - in: query
          name: width
          schema:
            type: integer
            default: 512
          required: false
          description: The image width
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    format: base64
                  model:
                    $ref: "#/components/schemas/model_config"
                  software:
                    $ref: "#/components/schemas/software_info"                    
